<div class="jumbotron p-2 d-flex flex-column justify-content-center">
    <h1 class="m-auto" style="color: blue;">Informacion</h1>
    <h4> Argumento de Entrada: <span style="color: green;">{{arg_Entrada}}</span></h4>
    <h4> Nombre del sistema Operativo: <span style="color: green;" > {{ vOs }} </span>  </h4>
    <h4> Version del Node: <span style="color: green;" > {{ vNode }} </span>  </h4>
    <h4> Memoria total del reservada: <span style="color: green;" > {{ memoryOs }} </span>  </h4>
    <h4>Path de Ejecucion: <span style="color: green;" > {{ pathEjec }} </span>  </h4>
    <h4>Process id: <span style="color: green;" > {{ idProcess }} </span>  </h4>
    <h4>Carpeta del Proyecto: <span style="color: green;" > {{ carpetaProy }} </span>  </h4>
    <h4>Numero de Procesadores: <span style="color: green;" > {{ CPU_CORES }} </span>  </h4>


</div>